.submitted {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  textarea {
    outline: none;
    border: 1px solid grey;

    &.ng-invalid {
      border: 2px solid red;
    }

    &.ng-valid {
      border: 2px solid rgb(88, 233, 88);
    }
  }
}
